<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--
			Consolidated feeds.
			Reducing the number of feeds speeds up restore and improves security & reliability

			View and edit this feed, push new packages, view or add upstream feeds at:
			https://devdiv.visualstudio.com/DevDiv/_artifacts/feed/xamarin-xvs
		-->
		<clear />
		<add key="xvs" value="https://devdiv.pkgs.visualstudio.com/_packaging/xamarin-xvs/nuget/v3/index.json" />
	</packageSources>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>