<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
	<Fragment>
		<PropertyRef Id="VS2012_ROOT_FOLDER" />
		<PropertyRef Id="VS2012_VSIX_INSTALLER_PATH" />
		
		<PropertyRef Id="VS2013_ROOT_FOLDER" />
		<PropertyRef Id="VS2013_VSIX_INSTALLER_PATH" />

		<PropertyRef Id="VS2015_ROOT_FOLDER" />
		<PropertyRef Id="VS2015_VSIX_INSTALLER_PATH" />

		<PropertyRef Id="VS15_ROOT_FOLDER" />
		<PropertyRef Id="VS_VSIX_INSTALLER_PATH" />
		
		<ComponentGroup Id="Merq">
			<ComponentRef Id="Merq11"/>
			<ComponentRef Id="Merq12"/>
			<ComponentRef Id="Merq14"/>
			<ComponentRef Id="Merq15"/>
		</ComponentGroup>
		<!-- We make the package non-vital since the underlying VSIXInstaller.exe 
				installer will fail (?!) if the VSIX being installed is already 
				installed, instead of being a no-op. The other cases where it can 
				fail is if the existing Merq VSIX has a higher version (in this case 
				we also don't want to fail). So this is as designed (given the weird 
				constraints we have to deal with).
		-->
		<Component Id="Merq11" Directory="MerqVsixInstallDir" Guid="{A8BA8E04-C763-40E4-B768-D6627DD25EF4}">
			<Condition>VS2012_ROOT_FOLDER</Condition>
			<File Id="Merq11.vsix" Source="$(var.Merq.Vsix.TargetDir)Merq.vsix">
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2012_VSIX_INSTALLER_PATH" Target="Ultimate" TargetVersion="11.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2012_VSIX_INSTALLER_PATH" Target="Premium" TargetVersion="11.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2012_VSIX_INSTALLER_PATH" Target="Pro" TargetVersion="11.0" Vital="no" Permanent="no" />
			</File>
		</Component>
		<Component Id="Merq12" Directory="MerqVsixInstallDir" Guid="{2E4AB630-84E5-4C66-B935-01641D95D46A}">
			<Condition>VS2013_ROOT_FOLDER</Condition>
			<File Id="Merq12.vsix" Source="$(var.Merq.Vsix.TargetDir)Merq.vsix">
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2013_VSIX_INSTALLER_PATH" Target="Ultimate" TargetVersion="12.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2013_VSIX_INSTALLER_PATH" Target="Premium" TargetVersion="12.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2013_VSIX_INSTALLER_PATH" Target="Pro" TargetVersion="12.0" Vital="no" Permanent="no" />
			</File>
		</Component>
		<Component Id="Merq14" Directory="MerqVsixInstallDir" Guid="{34F706EE-20E4-4AA3-BF18-7B24AF0B75E2}">
			<Condition>VS2015_ROOT_FOLDER</Condition>
			<File Id="Merq14.vsix" Source="$(var.Merq.Vsix.TargetDir)Merq.vsix">
				<!-- TODO: check VS2015 SKUs -->
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2015_VSIX_INSTALLER_PATH" Target="Enterprise" TargetVersion="14.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2015_VSIX_INSTALLER_PATH" Target="Pro" TargetVersion="14.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS2015_VSIX_INSTALLER_PATH" Target="Community" TargetVersion="14.0" Vital="no" Permanent="no" />
			</File>
		</Component>
		<Component Id="Merq15" Directory="MerqVsixInstallDir" Guid="{6D500D0D-24A1-475B-90AC-A107882CFC77}">
			<Condition>VS15_ROOT_FOLDER</Condition>
			<File Id="Merq15.vsix" Source="$(var.Merq.Vsix.TargetDir)Merq.vsix">
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS_VSIX_INSTALLER_PATH" Target="Enterprise" TargetVersion="15.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS_VSIX_INSTALLER_PATH" Target="Pro" TargetVersion="15.0" Vital="no" Permanent="no" />
				<vs:VsixPackage	PackageId="Merq" VsixInstallerPathProperty="VS_VSIX_INSTALLER_PATH" Target="Community" TargetVersion="15.0" Vital="no" Permanent="no" />
			</File>
		</Component>
	</Fragment>
</Wix>
