<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="1.0.56-pre" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.114" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="portable45-net45+win8+wpa81" />
  <package id="netfx-System.StringResources" version="3.0.7" targetFramework="portable45-net45+win8+wpa81" />
</packages>